/* Video Embed Styling */
.video-container {
    position: relative;
    padding-bottom: 45%; /* Reduce the aspect ratio height to be less */
    height: 50rem;
    overflow: hidden;
    max-width: 80%; /* Set the video width to 80% */
    margin: 20px auto; /* Center the video on the page */
    background-color: #f3f4f6; /* Add a subtle background color to match website */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
    border-radius: 12px; /* Rounded corners to blend with modern design */
    padding: 10px; /* Padding around the video for spacing */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .video-container h2 {
    font-size: 1.5rem;
    color: #333 !important;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .video-wrapper {
  text-align: center;
  margin-bottom: 20rem; /* Add some space between title and video */
}

.video-wrapper h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #203d67; /* Adjust the color */
  margin-bottom: 20px; /* Space between title and video */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.video-container h3 {
  font-size: 1.2rem; /* Adjust the dynamic title size */
  color: #555;
  margin-bottom: 10px;
}
